*{
    margin: 0;
    padding: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
}

#font{
    font-family: sans-serif;
}

hr{
    height: 1px;
    width: 20%;
    background-color: red;
    margin-bottom: 50px;
}

.fa{
    margin: 5px !important;
}

.display-3{
    margin-top: 80px !important;
    font-size: 3.5rem !important;
    font-weight: 500;
}

a{
    text-decoration: none;
}
.language, .lang{
    width: 100%;
    font-family: 'Helvetica';
    background-color: #017aac;
    margin: 0 !important;
    font-size: 10px;
    color: #ffa;
    letter-spacing: .5px;
    text-align: end;
    padding: 2px 5px; 
}

.lang select{
    padding: 2px;
    border-radius: 5px;
    background-color: #eee; 
    color: #f00;
}

.top-name{
    padding: 10px;
    width: 100% !important;
    align-items: center;
    text-align: center;
    margin: 0 !important;
}

.name{
    text-align: center;
    padding: 5px;
}

.lac-logo{
    margin: auto;
    height: 60px;
}

.univ{
    text-align: center;
    padding: 5px;
}

.univ-logo{
    margin: auto;
    height: 60px;
}

/* NAVBAR */
#dl-menu{
	display:block;
}

.navigation{
	background:#017aac;
    margin: 0px;
}

.main-navigation{
    margin: 0px;
	text-align:center;
	display:none;

}

.main-navigation > li{
	text-align:center;
	display:inline-block;
	position:relative;
	margin: 0px;
	padding: 0px;
}

.main-navigation > li > a{
	padding:11px 8px;
	display:block;
	color:#fff;
	font-size:13px;
	text-transform:capitalize;
	margin: 0px;
}

.main-navigation > li:hover > a, .main-navigation > li.active > a{
	background-color:#dcac03;
	color:#fff;
    text-decoration: none;
}
.sub-navigation{
	display:none;
    text-align: left;
    width: 160px;
	position: absolute;
	left: 0;
	top: 44px;
	z-index:999999;
	border-right:1px solid #fff;
}

.sub-navigation01{
	display:none;
    text-align: left;
    width: 310px;
	position: absolute;
	left: 0;
	top: 44px;
	z-index:999999;
	
}

.main-navigation > li:hover .sub-navigation, .main-navigation > li:hover .sub-navigation01{
	display:block;
}

.sub-navigation li, .sub-navigation01 li{
	display:block;
	border-bottom:1px solid #fff;
}

.sub-navigation a, .sub-navigation01 a{
	font-size:13px;
	display:block;
	padding:6px;
	color:#fff;
	background-color:#017aac;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-navigation a:hover, .sub-navigation01 a:hover{
	background-color:#dcac03;
	color:#fff;
}

#dl-menu{
	display:block;
}

.navigation{
	background:#017aac;
}

.main-navigation{
	margin:0px;
	text-align:center;
	display:none;
}

.main-navigation > li{
	text-align:center;
	display:inline-block;
	position:relative;
	
}

.main-navigation > li > a{
	padding:5px;
	margin: 0px;
	display:block;
	color:#fff;
	font-size:15px;
    word-spacing: 1px;
    letter-spacing: .3px;
	text-transform:capitalize;
}

.main-navigation > li:hover > a, .main-navigation > li.active > a{
	background-color:#dcac03;
	color:#fff;
}

.sub-navigation{
	display:none;
    text-align: left;
    width: 160px;
	position: absolute;
	left: 0;
	top: 44px;
	z-index:999999;
	border-right:1px solid #fff;
}

.sub-navigation01{
	display:none;
    text-align: left;
    width: 310px;
	position: absolute;
	left: 0;
	top: 44px;
	z-index:999999;
	
}

.main-navigation > li:hover .sub-navigation, .main-navigation > li:hover .sub-navigation01{
	display:block;
}

.sub-navigation li, .sub-navigation01 li{
	display:block;
	border-bottom:1px solid #fff;
}

.sub-navigation a, .sub-navigation01 a{
	font-size:14px;
	display:block;
	padding:15px;
	color:#fff;
	background-color:#017aac;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-navigation a:hover, .sub-navigation01 a:hover{
	background-color:#dcac03;
	color:#fff;
    text-decoration: none;
}

@media (min-width:750px){
    .main-navigation > li > a{
        padding:11px 3px;
        font-size:12px;
    }

    .inside .side_nav{
        border-right:1px dotted #91a05e;
        padding-right:20px;
        padding-bottom:30px;
        margin-top:30px;
    }
}

@media (min-width:970px){
    #dl-menu{
        display: none;
    }
    .main-navigation {
        display:block;
    }
    .main-navigation > li > a{
        padding:11px 9px;
        font-size:15px;
    }
}

@media (min-width:1170px){
    .main-navigation > li > a{
        padding:15px 20px;
    }
}

/* Common styles of menus */

.dl-menuwrapper {
    background-color: #017aac;
    width: 98%;
	position: relative;
	z-index:999999999999999;
    padding: 5px;
    margin:0;
}

.dl-menuwrapper button {
	background: #e51d1d;
	border: none;
	width: 35px;
	height: 35px;
	text-indent: 3em;
    color: white;
    font-size: 18px;
	position: relative;
	cursor: pointer;
	outline: none;
	padding:4px 0px;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active{
	background: #151414;
    color: #eee;    
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 68%;
	height: 3px;
	background: #fff;
	top: 6px;
	left: 16%;
	box-shadow: 
		0 10px 0 #fff, 
		0 20px 0 #fff;
}

.dl-menuwrapper ul {
    background-color: #000;
	padding: 0;
	list-style: none;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	font-family:Arial, sans-serif;
	display: block;
	position: relative;
    letter-spacing: .6px;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	color:#fff;
	outline: none;
}

.dl-menuwrapper li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fff;
	background: rgba(246,246,246,0.1);
}

.dl-menuwrapper li.dl-back > a {
	padding-left: 30px;
	background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
	position: absolute;
	top: 0;
	line-height: 50px;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	content: "\f054";
}

.dl-menuwrapper li.dl-back:after {
	left: 10px;
	color: rgba(212,204,198,0.3);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
	right: 10px;
	color: rgba(247, 237, 237, 0.96);
}

.dl-menuwrapper .dl-menu {
	margin: 5px 0 0 0;
	position: absolute;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
	display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
	display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
	display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
	-webkit-animation: MenuAnimOut1 0.4s;
	animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
	-webkit-animation: MenuAnimOut2 0.3s ease-in-out;
	animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
	-webkit-animation: MenuAnimOut3 0.4s ease;
	animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
	-webkit-animation: MenuAnimOut4 0.4s ease;
	animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
	-webkit-animation: MenuAnimOut5 0.4s ease;
	animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut3 {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut4 {
	0% { }
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut5 {
	0% { }
	100% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut1 {
	0% { }
	50% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		-webkit-transform: translateZ(-372.5px) rotateY(15deg);
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

@keyframes MenuAnimOut2 {
	0% { }
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
}

@keyframes MenuAnimOut3 {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut4 {
	0% { }
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut5 {
	0% { }
	100% {
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	-webkit-animation: MenuAnimIn1 0.3s;
	animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
	-webkit-animation: MenuAnimIn2 0.3s ease-in-out;
	animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
	-webkit-animation: MenuAnimIn3 0.4s ease;
	animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
	-webkit-animation: MenuAnimIn4 0.4s ease;
	animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
	-webkit-animation: MenuAnimIn5 0.4s ease;
	animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes MenuAnimIn1 {
	0% {
		-webkit-transform: translateZ(-500px) rotateY(0deg);
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		-webkit-transform: translateZ(-250px) rotateY(30deg);
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		-webkit-transform: translateZ(0px) rotateY(0deg);
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes MenuAnimIn2 {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn5 {
	0% {
		-webkit-transform: translateY(40%);
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
	-webkit-animation: SubMenuAnimIn1 0.4s ease;
	animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
	-webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
	animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
	-webkit-animation: SubMenuAnimIn3 0.4s ease;
	animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
	-webkit-animation: SubMenuAnimIn4 0.4s ease;
	animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
	-webkit-animation: SubMenuAnimIn5 0.4s ease;
	animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@-webkit-keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn1 {
	0% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn2 {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn4 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn5 {
	0% {
		-webkit-transform: translateZ(-200px);
		transform: translateZ(-200px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
	-webkit-animation: SubMenuAnimOut1 0.4s ease;
	animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
	-webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
	animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
	-webkit-animation: SubMenuAnimOut3 0.4s ease;
	animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
	-webkit-animation: SubMenuAnimOut4 0.4s ease;
	animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
	-webkit-animation: SubMenuAnimOut5 0.4s ease;
	animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@-webkit-keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut1 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(50%);
		transform: translateX(50%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut2 {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut3 {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut4 {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut5 {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-200px);
		transform: translateZ(-200px);
		opacity: 0;
	}
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
	position: relative;
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
	display: block;
}

.no-js .dl-menuwrapper li.dl-back {
	display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
	background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
	content: '';
}

/* Colors for demos */

/* Demo 1 */
.demo-1 .dl-menuwrapper button {
	background: #066d81;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
	background: #0a4c59;
}

#main1{
	overflow: hidden;
}
.wrapper{
    overflow: hidden;
    text-align: center;
    background: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.box{
    position: relative;
   /* display: inline-block; *//* Make the width of box same as image */
}
.box .container{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
}
.box .container span{
    color: white;
    font-stretch: ultra-expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box .container .text1{
    font-size: 6vw;
    font-weight: lighter;
	color: #FFFFFF;
	overflow: hidden;
}
.box .container .text2{
    font-size: 3vw;
	font-weight: lighter;
	overflow: hidden;
}
.box img{
    padding: 0px;
    margin: 0px;
    width: 100% ;
    height: auto;
}
.wrapper h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-stretch: ultra-expanded;
    margin-top: 15px;
    margin-bottom: 15px;
    color:black;
    font-size: 40px;
}
.line{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background:#ECA038;
    margin-bottom: 40px;
}
.list{
    text-align: left;
    font-size: 16px;
}
.list ol{
    list-style-position: outside;
    padding:20px; 
    list-style-type: lower-alpha;
}
.list ul{
    list-style-position: outside;
    list-style-type: square;
    padding:20px;
}
.text{
    font-size:17px;
    padding-bottom: 20px;
}
.images img{
    width:55%;height:auto;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
    padding: 20px;
    margin: 10px;
    margin-bottom: 16px;
}
form{
	margin-top:50px;
}
.Reg-form{
	display:block;
	text-align: center;
}
.Reg{
	/*width:600px;*/
	margin-left: 20%;
    margin-right:20%;
    width: 60%;
    background:transparent;
    border:none;
    outline:none;
    border-bottom:1px solid gray;
    color:black;
    font-size:18px;
    margin-bottom:16px;
}
input{
    height:45px;
}
form .submit{
    background: #ECA038;
    border-color:transparent;
    color: white;
    font-size:20px;
    font-weight:bold;
    letter-spacing:2px;
    height:50px;
    margin-top:20px;
}
form .submit:hover{
    background-color: #D33601;
    cursor: pointer;
}
@media only screen and (max-width:576px){
	#main1{
		width: 100%;
	}
	.Reg{
		width:90%;
		margin-left: 5%;
        margin-right: 5%;
	}
}
@media only screen and (max-width:768px){
	#main1{
		width: 100%;
	}
	.Reg{
		width:90%;
		margin-left: 5%;
        margin-right: 5%;
	}
}
@media only screen and (min-width:992px){
	#main1{
		width: 100%;
	}
}
@media only screen and (min-width:1200px){
	#main1{
		width: 100%;
	}
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer{
    background: black;
    color: white;
    text-align: center;
    padding: 16px;
}

footer .container{
    margin-top: 20px;
}

.ftco-footer-social{
    display: inline-flex; 
    font-size: 24px;
}

.ftco-footer-social li{
    margin: 0 10px 10px 10px;
}

footer i{
    transition: all .4s;
}

footer a:hover{
    color: #e1306c;
    text-decoration: none;
}

footer ul li{
    list-style: none;
}

